* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1 {
	text-align: left;
}

header {
	background-color: #D3BAD0;
	padding: 0px 50px;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

a {
	text-decoration: none;
	color: black;
	margin-right: 20px;
}

a:hover {
	color: blue;
}

section {
	background-color: #ddbdff;\
	border: 1px;
}